/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px;
  margin: 33px;
}

a:hover {
  cursor: pointer;
  color: #fff;
  background-color: black;
}



h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0px;
  margin-right: 0px;
  font-weight: bold;
}

.field {
  margin-bottom: 10px;
}

label {
  display: block;
}


.textarea {
  height: 31px;
  width: 138px
  
}

thead{
vertical-align: middle;
}

th {
  padding-bottom: 5px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

.show_p {
  display: inline-block;
  padding:0;
  margin: 0;
}

.action{
  margin-bottom: 10px;
  
}

input[type="text"] {
  padding: 2px 3px;
  border-style: solid ;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(118, 118, 118);
}

textarea {
  padding: 2px;
  border-style: solid ;
  border-width: 1px;
  border-radius: 2px;
  border-color: rgb(118, 118, 118);
}

.errors_message {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.errors_message h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
}

.errors_ul {
  font-family: verdana, arial, helvetica, sans-serif;
  list-style: square;
  font-size: 12px;
  line-height: 18px;
  margin: 33px;
}

div.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
.flash {
  margin: 33px;
}

.flash_message {
  color: green;
}
